/*************************
    Filename: custom.css
    Author: Ursula Poletto
    Date: March, 11, 21.

    Index

    0. Reset
    1. General
    2. Header
    3. Cities
	4. Table of contents
	5. Stats
	6. Footer

    
**************************/



/*************************
    0. Reset
**************************/


/*************************
    1. General
**************************/
body {
    
}



/*************************
    2. Header
**************************/
header {

}

header #hero {

}

header nav {

}

header #hero-title {

}

header #hero-subtitle {

}

#call-to-scroll{

}



/*************************
    3. Cities
**************************/

#cities {

}

#cities-title {

}


/*************************
    4. Table of contents
**************************/

#table of contents {

}

#table-of-contents-title {

}

#table-of-contents-subtitle{

}

#table-of-contents-content {

}

.table-of-contents-content-title {

}

.table-of-contents-content-title-items {

}

/*************************
    5. Stats
**************************/

#stats {

}

#stats-content {

}

#stats-title{

}

#stats-subtitle {

}

.stats-content-title {

}

.stats-content-title-items {
	
}


/*************************
    6. Footer
**************************/

#footer {

}
